<!doctype html>
<html lang="en" ng-app="ptStats">
<head>
  <meta charset="utf-8">
  <title>Get Business Intelligence out of Pivotal Tracker</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="ptWhoamICtrl">
    <div>
        <form id="idForm">
            <input id="username" type="text" /> <br />
            <input id="password" type="password" /> <br />
            <input id="submit" type="button" value="Identify Yourself" ng-click="identify()" />
        </form>
    </div>
    You are identified as {{person.name}}<br>
    Your token is {{person.token.guid}}<br>

    <div id="projects">
        <input id="getProjectsButton" type="button" value="List Projects" ng-click="getProjects(person.token.guid)" /> 
        <table>
            <tr ng-repeat="project in projects">
                <td>
                    {{project.name}}<br />
                    <table>
                        <tr ng-repeat="member in project.memberships.membership_asArray">
                            <td>
                                {{member.member.person.name}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
    <script src="lib/jquery/jquery-2.0.3-min.js"></script>
    <script src="lib/x2js-v1.0.11/xml2json.js"></script>
    <script src="lib/angular/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/filters.js"></script>
    <script src="js/directives.js"></script>
</body>
</html>
